<app-navbar></app-navbar>
<router-outlet></router-outlet>

<div
  class="bg-image"
  [ngStyle]="{ 'background-image': 'url(' + movies[0].poster + ')' }"
>
  <h1>{{ movies[0].name }}</h1>
  <p>{{ movies[0].storyline }}</p>
  <div class="main-btns">
    <button class="main-btn">
      <mat-icon class="play">play_arrow</mat-icon>
      Play
    </button>
    <button class="main-btn outline-btn">
      <mat-icon class="outline">info_outline</mat-icon>
      More info
    </button>
  </div>
  <div class="span-container">
    <span>13+</span>
  </div>
</div>

<app-carousel
  [title]="'Comedy'"
  [carouselId]="'carousel1'"
  [movies]="comedy"
></app-carousel>
<app-carousel
  [title]="'Family'"
  [carouselId]="'carousel2'"
  [movies]="family"
></app-carousel>
<app-carousel
  [title]="'Fantasy'"
  [carouselId]="'carousel3'"
  [movies]="fantasy"
></app-carousel>
<app-carousel
  [title]="'Horror'"
  [carouselId]="'carousel4'"
  [movies]="horror"
></app-carousel>
<app-carousel
  [title]="'Drama'"
  [carouselId]="'carousel5'"
  [movies]="drama"
></app-carousel>

<app-footer></app-footer>
