<div class="box">
  <h1>Add a profile</h1>
  <p>Add a profile for another person watching Netflix.</p>
  <form (ngSubmit)="onSubmit()">
    <div>
      <img [src]="selectedIcon?.name" alt="icon" />

      <input type="text" placeholder="Name" [(ngModel)]="name" name="name" />
    </div>
    <hr />
    <div class="children-section">
      <div>
        <h5>Kids Profile</h5>
        <p>Only see kid-friendly Tv Shows and movies</p>
      </div>
      <app-slide-toggle></app-slide-toggle>
    </div>

    <button type="submit">Save</button>
    <button routerLink="/entry">Cancel</button>
  </form>
</div>
