<div class="footer-container">
  <div class="social-icons">
    <a href="facebook">
      <i class="fa-brands fa-facebook-f text-white"></i>
    </a>
    <a href="instagram">
      <i class="fa-brands fa-instagram text-white"></i>
    </a>
    <a href="twitter">
      <i class="fa-brands fa-twitter text-white"></i>
    </a>
    <a href="youtube">
      <i class="fa-brands fa-youtube text-white"></i>
    </a>
  </div>
  <div class="links-container">
    <div class="link-box-1">
      <a href="#">Audio Description</a>
      <a href="#">Investor Relations</a>
      <a href="#">Legal Notices</a>
      <a href="#">Ad Choices</a>
    </div>
    <div class="link-box-2">
      <a href="#">Help Center</a>
      <a href="#">Jobs</a>
      <a href="#">Cookie Preferences</a>
    </div>
    <div class="link-box-3">
      <a href="#">Gift Cards</a>
      <a href="#">Terms of Use</a>
      <a href="#">Corporate Information</a>
    </div>
    <div class="link-box-4">
      <a href="#">Media Center</a>
      <a href="#">Privacy</a>
      <a href="#">Contact Us</a>
    </div>
  </div>
  <button>Service Code</button>
  <span>&copy;2024-2025 Angular-Netflix -Caterina Resasco</span>
</div>
