<mat-toolbar>
  <div>
    <a mat-button [routerLink]="['/home', { id: account.id }]" class="logo"
      >Netflix</a
    >
    <span class="spacer"></span>
    <a mat-button [routerLink]="['/home', { id: account.id }]">Home</a>
    <a mat-button [routerLink]="['/home', account.id, 'show']">TV Shows</a>
    <a mat-button [routerLink]="['/home', account.id, 'movies']">Movies</a>
    <a mat-button [routerLink]="['/home', account.id, 'new-popular']"
      >New & Popular</a
    >
    <span class="spacer"></span>
    <a mat-button routerLink="/home/my-list">My List</a>
    <span class="spacer"></span>
    <a mat-button routerLink="/contact">Browse by Languages</a>
  </div>
  <span class="spacer"></span>
  <a mat-button routerLink="/home" class="fs-1">
    <mat-icon class="text-white fs-2">search</mat-icon>
  </a>
  <a mat-button routerLink="/home" class="fs-1">
    <mat-icon class="text-white fs-3">notifications_none</mat-icon>
  </a>

  <div class="btn-group">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      data-bs-auto-close="true"
      aria-expanded="false"
      *ngIf="account"
    >
      <img [src]="account.icon" alt="Icon" />
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item text-start" href="#">Menu item</a></li>
      <li><a class="dropdown-item" href="#">Menu item</a></li>
      <li><a class="dropdown-item" href="#">Menu item</a></li>
    </ul>
  </div>
</mat-toolbar>
