<div class="black-bar"></div>
<div class="container">
  <h1 class="mb-0">Edit Profile</h1>
  <hr class="mt-1 mb-4" />
  <form>
    <div class="row">
      <div class="col col-2">
        <img *ngIf="account?.icon" [src]="account.icon" alt="icon" class="icon" />

      </div>
      <div class="col col-9 offset-1">
        <div class="nome">
          <input
            type="text"
            placeholder="Nome"
            name="name"
            [(ngModel)]="account.name"
            class="form-control"
          />
        </div>
        <div class="lingua mt-5">
          <h5>Language:</h5>
          <select class="bg-black text-white fw-semibold pe-4 ps-1">
            <option value="it">Italian</option>
            <option value="en">English</option>
          </select>
        </div>
        <div class="identificativo mt-4">
          <h5>Game handle</h5>
          <p>
            Your handle is a unique name that'll be used for playing with other
            Netflix members across all Netflix Games. <a>Learn more</a>
          </p>
          <div>
            <input
              type="text"
              placeholder="Identificativo di gioco"
              name="identificativo"
            />
          </div>
        </div>
        <hr class="mt-5 mb-4" />
        <div class="eta">
          <h5>Maturity Settings</h5>
          <h6>All Maturity Ratings</h6>
          <p>Show title of all maturity ratings for this profile.</p>
          <button class="btn-default mt-4 fs-6">Edit</button>
        </div>
        <hr class="mt-5 mb-3" />
        <div class="riproduzione">
          <h5>Autoplay controls</h5>
          <div class="checkbox-container">
            <input type="checkbox" id="autoEpisode" />
            <label for="autoEpisode"
              >Autoplay next episode in a series on all devices.</label
            >
          </div>
          <div class="checkbox-container">
            <input type="checkbox" id="autoPreview" />
            <label for="autoPreview"
              >Autoplay previews while browsing on all devices.</label
            >
          </div>
        </div>
      </div>
      <hr class="btn-hr" />
      <div class="bottoni d-flex gap-3">
        <button type="submit" (click)="save()" class="btn-manage">Save</button>
        <button routerLink="/entry" class="btn-default">Cancel</button>
        <button (click)="delete(account.id)" class="btn-default">
          Delete Profile
        </button>
      </div>
    </div>
  </form>
</div>
