<div class="black-bar"></div>
<div class="container">
  <h1 class="mb-0">Modifica il profilo</h1>
  <hr class="mt-1 mb-4" />
  <form>
    <div class="row">
      <div class="col col-2">
        <img [src]="account.icon" alt="icon" class="icon" />
      </div>
      <div class="col col-9 offset-1">
        <div class="nome">
          <input
            type="text"
            placeholder="Nome"
            name="name"
            [(ngModel)]="account.name"
            class="form-control"
          />
        </div>
        <div class="lingua mt-5">
          <h5>Lingua:</h5>
          <select class="bg-black text-white fw-semibold pe-4 ps-1">
            <option value="it">italiano</option>
            <option value="en">inglese</option>
          </select>
        </div>
        <div class="identificativo mt-4">
          <h5>Identificativo di gioco</h5>
          <p>
            L'identificativp è un nome univoco che serve per giocare con altri
            abbonati Netflix nella sezione Netflix Games. <a>Scopri di più</a>
          </p>
          <div>
            <input
              type="text"
              placeholder="Identificativo di gioco"
              name="identificativo"
            />
          </div>
        </div>
        <hr class="mt-5 mb-4" />
        <div class="eta">
          <h5>Classificazione per età</h5>
          <h6>Tutte le fasce d'età</h6>
          <p>
            Mostra titoli con classificazione per tutte le fasce d'età per
            questo profilo
          </p>
          <button class="btn-default mt-4 fs-6">Modifica</button>
        </div>
        <hr class="mt-5 mb-3" />
        <div class="riproduzione">
          <h5>Riproduzione automatica</h5>
          <div class="checkbox-container">
            <input type="checkbox" id="autoEpisode" />
            <label for="autoEpisode"
              >Riproduci automaticamente l'episodio successivo di una serie su
              tutti i dispositivi.</label
            >
          </div>
          <div class="checkbox-container">
            <input type="checkbox" id="autoPreview" />
            <label for="autoPreview"
              >Riproduci automaticamente le anteprime mentre sfoglio su tutti i
              dispositivi.</label
            >
          </div>
        </div>
      </div>
      <hr class="btn-hr" />
      <div class="bottoni d-flex gap-3">
        <button type="submit" (click)="save()" class="btn-manage">Salva</button>
        <button routerLink="/entry" class="btn-default">Annulla</button>
        <button (click)="delete(account.id)" class="btn-default">
          Elimina profilo
        </button>
      </div>
    </div>
  </form>
</div>
