<app-navbar></app-navbar>
<div class="new-container">
  <app-carousel
    [title]="'Comedy'"
    [carouselId]="'carousel1'"
    [movies]="comedy"
  ></app-carousel>
  <app-carousel
    [title]="'Fantasy'"
    [carouselId]="'carousel2'"
    [movies]="fantasy"
  ></app-carousel>
  <app-carousel
    [title]="'Horror'"
    [carouselId]="'carousel3'"
    [movies]="horror"
  ></app-carousel>
  <app-carousel
    [title]="'Drama'"
    [carouselId]="'carousel4'"
    [movies]="drama"
  ></app-carousel>
  <app-carousel
    [title]="'Family'"
    [carouselId]="'carousel5'"
    [movies]="family"
  ></app-carousel>
</div>

<app-footer></app-footer>
